.w-btn-outline {
    position: relative;
    padding: 15px 30px;
    border-radius: 15px;
    font-family: "paybooc-Light", sans-serif;
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);
    text-decoration: none;
    font-weight: 600;
    transition: 0.25s;
    background-color: #ffffff8c;
}
.w-btn-gray-outline {
    border: 3px solid gray;
    color: #6e6e6e;
}
.w-btn-gray-outline:hover {
    background-color: gray;
    color: #6e6e6e;
}

.w-btn-outline:active {
    transform: scale(1.5);
}
input::file-selector-button{
    height:30px;
    background-color: #a8a8a8a6;
    border: none;
}
.filepath{
    border: none;
    background-color: #eeeeeea6;
}
.file_submit{
    margin-top:5%;
    height:30px;
    border:none;
    background-color: #a8a8a8a6;
}
.logout_button{
    margin-top:5%;
    height:30px;
    border:none;
    background-color: #a8a8a8a6;
}