.container{
    display: flex;
    height: 100%;
}
#idx{
    background-color:
    #ffffff8c;
    width:20%; height:5vh;
    border:none; border-radius:15px;
    outline: none;
}
#pwd{
    margin-top:1%;
    background-color: #ffffff8c;
    width:20%; height:5vh;
    border:none; border-radius:15px;
    outline: none;
}
#div_start
{
   flex: 3;
   text-align:center;
   background-image:url('../images/start.jpg');
   background-size:100% 100%;
   width: 100%; height: 100%;
}
#body2
{
    background-color:black;
    background-size:100% 100%;
}
.login
{
    background-image:url('../images/login.jpg');
    background-size:100% 100%;
    width: 100%; height: 100%;
    flex: 3; text-align:center;
}

.form-item{
    text-align:center;
    display: flex;
    flex-wrap: wrap;
}


