<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<body>

<div class="container">

    <form action="/members/new" method="post">
        <div class="form-group">
<!--            label태그는 input태그를 도와주는 역할. input태그가 디자인 하기 힘들 때 label태그로 연결해서 쉽게 디자인-->
            <label for="name">이름</label>
<!--            name속성이 key값이다-->
            <input type="text" id="name" name="name" placeholder="이름을 입력하세요">
        </div>
        <button type="submit">등록</button>
    </form>
    <a href="/backhome">
        <button type="button">홈</button>
    </a>
    <input type="text" id="cnt" value=0 readonly="readonly" style="text-align:center;"/>
    <button onClick="cnt();">+</button>
</div>
</body>
<!--$를 사용해서 html의 id값들에 접근하기 위해서 jquery가 필요하다-->
<script src="https://code.jquery.com/jquery-3.4.1.js"></script>
<script th:inline="javascript">
    /*<![CDATA[*/
    var data = [[${data}]]
    if(data != null) {
        alert(data);
    }
    /*]]>*/
    function cnt() {
        var s = parseInt($("#cnt").val())
        s += 1
        $("#cnt").val(s)
    }

</script>
</html>
