<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" style="height:100%">
<link th:href="@{/css/pages.css}" rel="stylesheet">
<link th:href="@{/css/buttons.css}" rel="stylesheet">
<body id="body2" style="height:100%">
    <div style="display: flex; height:100%">
        <div style="flex: 1"></div>
        <div class="login">
            <form action="/members/login" method="post">
                <div class="form-item" style="margin-top:30%; justify-content:center">
                    <input class="idx" name="login_id" placeholder="아이디" value=""/>
                </div>
                <div class="form-item" style="justify-content:center">
                    <input class="pwd" name="pwd" placeholder="비밀번호" value=""/>
                </div>
                <div style="margin-top:3%">
                    <button type="submit" class="w-btn-outline w-btn-gray-outline" >입장하기</button>
                </div>
            </form>
        </div>
        <div style="flex: 1"></div>
    </div>
<script th:inline="javascript">
    var message = [[${message}]]
    if(message){
        alert("아이디 또는 비밀번호가 틀렸습니다.");
    }
</script>
</body>
</html>