<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" style="height:100%">
<link th:href="@{/css/pages.css}" rel="stylesheet">
<link th:href="@{/css/buttons.css}" rel="stylesheet">
<body id="body2" style="height:100%">
    <div style="display: flex; height:100%">
        <div style="flex: 1"></div>
        <div class="login">
            <div class="form-item" style="margin-top:30%; justify-content:center">
                <input class="idx" placeholder="아이디" value=""/>
            </div>
            <div class="form-item" style="justify-content:center">
                <input class="pwd" placeholder="비밀번호" value=""/>
            </div>
            <div style="margin-top:3%">
                <a href="/main"><button class="w-btn-outline w-btn-gray-outline" type="button">입장하기</button></a>
            </div>
        </div>
        <div style="flex: 1"></div>
    </div>

</body>
</html>