<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" style="height:100%">
<link th:href="@{/css/pages.css}" rel="stylesheet">
<link th:href="@{/css/buttons.css}" rel="stylesheet">
<body style="height:100%; background-color:black;">
<div class="container">
    <div style="flex: 1"></div>
    <div id="div_start">
        <h1 style="font-size:80px; color:white;">웅스터디</h1>
        <a href="/members/login"><button class="w-btn-outline w-btn-gray-outline">로그인</button></a>
        <a href="/members/new"><button class="w-btn-outline w-btn-gray-outline">회원 가입</button></a>
        <a href="/members"><button class="w-btn-outline w-btn-gray-outline">회원 목록</button></a>
    </div>
<!--    <div>-->
<!--        <input readonly="readonly" value="" id="address"/>-->
<!--    </div>-->
    <div style="flex: 1"></div>
</div>
</body>
<!--<script th:inlne="javascript">-->
<!--    var ad = window.location.href;-->
<!--    var pen = document.getElementById("address");-->
<!--    pen.value = ad;-->
<!--</script>-->
</html>