<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" style="height:100%">
<link th:href="@{/css/headers.css}" rel="stylesheet">
<link th:href="@{/css/sidebar.css}" rel="stylesheet">
<link th:href="@{/css/bodies.css}" rel="stylesheet">
<link th:href="@{/css/buttons.css}" rel="stylesheet">
<head>
    <title>글쓰기</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body style="height: 90%">
<header class="header">
    <div class="header_wrapper">
        <h1 class="header_start">
            <button class="header_hamburger">&#9776;</button>
            <a style="color: black; text-decoration: none;" href="/go/main"><span class="header_title">웅스터디</span></a>
        </h1>
        <div class="header_center">
            <form class="header_form" onsubmit="false">
                <input class="header_input_text" placeholder="공부방을 검색하세요"/>
                <button class="header_input_button">검색</button>
            </form>
        </div>
        <div class="header_end">
            <button class="header_search">&#128269</button>
            <img class="header_profile" th:src="@{/accounts/}" />
        </div>
    </div>
</header>
<nav class="nav">
    <ul class="nav_wrapper">
        <li>
            <a href="/members/myPage">
                <div class="nav_icon">&#128587</div>
                <div class="nav_menu">마이페이지</div>
            </a>
        </li>
        <li>
            <a href="/study">
                <div class="nav_icon">&#128203</div>
                <div class="nav_menu">내 공부방</div>
            </a>
        </li>
        <li>
            <a href="#">
                <div class="nav_icon">&#128161</div>
                <div class="nav_menu">오늘의 글귀</div>
            </a>
        </li>
    </ul>
</nav>
<div class="writePage">
    <div style="flex:1;">
        <div class="profile">
            <img id="imgId" th:src="@{/accounts/}" />
        </div>
    </div>
    <div class="flex4">
        <div class="semi_header">공부를 기록해요</div>
        <div style="margin: 3% 0 0 10%;  height:100%;">
            <form method="post" action="/members/write" style="height:100%;">
                    <label for="b_title">제목</label>
                    <input style="height:23px; outline: none;" value="" id="b_title" name="title" placeholder="제목을 입력하세요.">
                    <label for="sd_time">공부 시간</label>
                    <input style="height:23px; outline: none;" value="" id="sd_time" name="sd_time" placeholder="공부 시간을 입력하세요.">
                    <h6 style="margin-block: 0 0">예)6시간15분</h6>
                <div style="height:100%">
                    <input class="write_body" value="" name="content" placeholder="내용을 입력하세요.">
                    <button class="submit_btn" type="submit">작성</button>
                </div>
            </form>
        </div>
    </div>
</div>
</body>
</html>