<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" style="height:100%">
<link th:href="@{/css/headers.css}" rel="stylesheet">
<link th:href="@{/css/sidebar.css}" rel="stylesheet">
<link th:href="@{/css/bodies.css}" rel="stylesheet">
<link th:href="@{/css/buttons.css}" rel="stylesheet">
<head>
    <title>글쓰기</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body style="height: 90%">
<header class="header">
    <div class="header_wrapper">
        <h1 class="header_start">
            <button class="header_hamburger">&#9776;</button>
            <a style="color: black; text-decoration: none;" href="/go/main"><span class="header_title">웅스터디</span></a>
        </h1>
        <div class="header_center">
            <form class="header_form" onsubmit="false">
                <input class="header_input_text" placeholder="공부방을 검색하세요"/>
                <button class="header_input_button">검색</button>
            </form>
        </div>
        <div class="header_end">
            <button class="header_search">&#128269</button>
            <img class="header_profile" th:src="@{/accounts/}" />
        </div>
    </div>
</header>
<nav class="nav">
    <ul class="nav_wrapper">
        <li>
            <a href="/members/myPage">
                <div class="nav_icon">&#128587</div>
                <div class="nav_menu">마이페이지</div>
            </a>
        </li>
        <li>
            <a href="/study">
                <div class="nav_icon">&#128203</div>
                <div class="nav_menu">내 공부방</div>
            </a>
        </li>
        <li>
            <a href="#">
                <div class="nav_icon">&#128161</div>
                <div class="nav_menu">오늘의 글귀</div>
            </a>
        </li>
    </ul>
</nav>
<div class="myPage">
    <div style="flex:1;">
        <div class="profile">
            <img id="imgId" th:src="@{/accounts/}" />
        </div>
    </div>
    <div class="flex4">
        <div class="flex4_under">
            <span class="flex4_name"><span class="flex4_name" th:text="${session.sessions}"></span>님 글쓰는 곳이에요</span>
        </div>
    </div>
</div>
</body>
<script type="text/javascript" th:src="@{/js/script.js}"></script>
</html>